h1{
    color: rgb(228, 172, 18);
    text-align: center;
}

body {
    background-color: rgb(192, 52, 41);
}

img{
    width: 500px;
    padding-left: 10px;
    float: left;
    border-radius: 30px;
}

#Margarita{
    color: rgb(228, 172, 18);
    text-align: right;
    text-size-adjust: 20px;
   
}

a{
     text-decoration: none;
}
p{
    color: rgb(228, 172, 18);
    size: 30px;
    font-weight: bold;
}
.HistoryofM{
 color: rgb(228, 172, 18);
    size: 60px;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 520px;           
   
}

.maghistory{
    text-align: center;
}
.homemagimg{
    align-content: left;
    width: 250px;
    padding-right: 20px;
    padding-left: 20px;

}
.magpic{
    padding-left: 10px;
    padding-right: 10px;
}

ol{
    color: rgb(228, 172, 18);
    size: 30px;
    font-weight: bold;
    float: right;
    padding: 10px;
    padding-left: 40px;
    position: relative;
    top: -160px; 
  
}

.plplp{
    width: 500px;
    padding-left: 10px;
    float: right;
    padding-right: 40px;
    padding-top: 50px;
}

.haw{
    font-size: 20px;
}